{% extends 'base.html' %}
{% block title %} 关于 {% endblock %}
{% block script %}
{% endblock %}
{% block content %}
<!-- sidebar -->
<div class="uk-width-medium-1-5">
    <div class="uk-panel uk-panel-box uk-text-center">
        <img class="uk-border-circle" width="100" height="100" src="{{ url_for('static', filename=config['WEB_LOGO']) }}" alt="">
        <p>本程序仅能预览AutoCAD图纸和pdf图纸。AutoCAD图纸预览请使用IE内核浏览器，版本不低于IE9。首次使用请下载安装
        <a href="./MxDrawX.zip">IE浏览器插件</a>。
        若无法预览pdf图纸，则需要安装 <a href="./pdf.exe">pdf阅读软件</a>。</p>
    </div>
</div>
<!-- end sidebar -->

<div class="uk-width-medium-4-5 uk-row-first">
    <div class="uk-panel uk-panel-box uk-panel-box-primary">
        <h3 class="uk-panel-title">服务器使用规范</h3>
        <div class="">
            本程序仅能预览AutoCAD图纸和pdf图纸。AutoCAD图纸预览请使用IE内核浏览器，版本不低于IE9。首次使用请下载安装
            <a href="./MxDrawX.zip">IE浏览器插件</a>。<br />
            若无法预览pdf图纸，则需要安装 <a href="./pdf.exe">pdf阅读软件</a>。
        </div>
    </div>
</div>
{% endblock %}
