{% extends 'base.html' %}
{% block title %} 关于 {% endblock %}
{% block script %}
{% endblock %}
{% block content %}
<!-- sidebar -->
<div class="uk-width-medium-1-5">
    {% include 'sidebar.html' %}
</div>
<!-- end sidebar -->

<div class="uk-width-medium-4-5 uk-row-first">
    <div class="uk-panel uk-panel-box uk-panel-box-primary">
        <h3 class="uk-panel-title">服务器使用规范</h3>
        <div class="">
            <p>1、服务器供公司员工预览共享图纸使用。</p>
            <p>2、公司员工可以自由注册用户账号。用户分四种类型：系统管理员、图纸管理员、普通用户、默认用户。</p>
            <p>3、未注册用户仅能查看本页面与注册页面。</p>
            <p>4、刚注册完的账号为默认用户，默认用户仅可以查看图纸列表，无法预览图纸。</p>
            <p>5、经系统管理员确认身份后，会赋予用户“图纸管理员”或者“普通用户”其中一种身份。</p>
            <p>6、普通用户可以预览、查找存档内的图纸。并且拥有个人空间用于存放用户个人需要备份的图纸或文件。</p>
            <p>7、图纸管理员除了具有普通用户的权限之外，还拥有图纸管理的权限。包括：图纸存档、下载、删除等。</p>
            <p>8、用户个人密码由用户自己管理，可以自由更改。</p>
            <p>9、个人空间作为重要数据备份使用，只允许存放工作文件，严禁存储与工作无关文件。</p>
            <p>10、用户上传文件前，确保上传的文件是干净无毒的，尽量避免直接上传可执行文件（如exe、com）。</p>
            <p>11、为了避免造成网络拥堵，服务器限制了用户上传文件的大小不能超过200M。</p>
        </div>
    </div>
</div>
{% endblock %}
