{% extends 'base.html' %}
{% block title %} 后台管理 {% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/admin_record.js') }}"></script>
{% endblock %}
{% block content %}
    <!-- sidebar -->
    <div class="uk-width-medium-1-5">
        <div class="uk-panel uk-panel-box">
            <h3 class="uk-panel-title"><i class="uk-icon-download"></i> 后台管理</h3>
            <ul class="uk-nav uk-nav-side">
                <li><a href="{{ url_for('admin_user') }}"><i class="uk-icon-users"></i> 用户管理</a></li>
                <li class="uk-active"><a href="{{ url_for('admin_record') }}"><i class="uk-icon-pencil"></i> 图纸操作记录</a></li>
            </ul>
        </div>
    </div>
    <!-- end sidebar -->

    <div class="uk-width-medium-4-5 uk-row-first">
        <div id="error" class="uk-width-1-1"></div>
        <div id="loading" class="uk-width-1-1 uk-text-center uk-margin-bottom uk-position-z-index">
            <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
        </div>
        <div id="vm" class="uk-panel uk-panel-box uk-panel-box-primary uk-panel-header uk-overflow-container">
            <h3 class="uk-panel-title">图纸操作记录（最新的100条记录）</h3>
            <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
                <thead>
                    <tr>
                        <th class="uk-width-1-10">用户名</th>
                        <th class="uk-width-4-10">图纸</th>
                        <th class="uk-width-2-10">操作</th>
                        <th class="uk-width-3-10">时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="record in records">
                        <td v-text="record.user"></td>
                        <td v-text="record.dwg"></td>
                        <td v-text="record.url"></td>
                        <td v-text="record.datetime"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
