<!DOCTYPE html>
<html class="uk-notouch">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}<!-- block meta  -->{% endblock %}
    <title>{% block title %}{% endblock %} - {{ config['WEB_NAME'] }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.gradient.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notify.gradient.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notify.min.js') }}"></script>
    {% if config['DEBUG'] %}
        <script src="{{ url_for('static', filename='js/vue.js') }}"></script>
    {% else %}
        <script src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
    {% endif %}
    <script src="{{ url_for('static', filename='js/awesome.js') }}"></script>
    {% block script %}<!-- script  -->{% endblock %}
</head>
<body>
    <!-- menu -->
    <nav id="navbar" class="tm-navbar uk-navbar uk-margin-large-bottom uk-navbar-attached">
        <div class="uk-margin-large-left uk-margin-large-right">
            <a class="uk-navbar-brand" href="{{ url_for('index') }}">{{ config['WEB_NAME'] }}</a>
            <ul class="uk-navbar-nav">
                <li><a href="{{ url_for('browse') }}">图纸管理</a></li>
                <li><a href="{{ url_for('manage') }}">文件管理</a></li>
                <li><a href="{{ url_for('about') }}">关于</a></li>
            </ul>
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">
                {% if current_user.is_authenticated %}
                    <li class="uk-parent" data-uk-dropdown>
                        <a href="#0"><i class="uk-icon-user"></i> {{ current_user.name }} <i class="uk-icon-caret-down"></i></a>
                        <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-small">
                            <ul class="uk-nav uk-nav-navbar">
                                <li><a href="{{ url_for('user') }}"><i class="uk-icon-info-circle"></i> 用户信息</a></li>
                                {% if current_user.is_admin() %}
                                <li><a href="{{ url_for('admin_user') }}"><i class="uk-icon-gear"></i> 后台管理</a></li>
                                {% endif %}
                                <li><a href="{{ url_for('logout') }}"><i class="uk-icon-sign-out"></i> 登出</a></li>
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('login') }}"><i class="uk-icon-sign-in"></i> 登陆</a></li>
                    <li><a href="{{ url_for('signup') }}"><i class="uk-icon-edit"></i> 注册</a></li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- end menu -->

    <!-- content -->
    <div class="uk-margin-large-left uk-margin-large-right uk-margin-top uk-margin-large-bottom">
        <div class="uk-grid" data-uk-grid-margin>
        {% block content %}
        {% endblock %}
        </div>
        <a href="#navbar" class="goto-top uk-icon-button uk-icon-arrow-up" hidden="hidden" data-uk-smooth-scroll></a>
    </div>
    <!-- end content -->

    <!-- footer -->
    <div class="uk-block uk-block-secondary uk-contrast">
        <div class="uk-margin-large-left uk-margin-large-right uk-text-center">
            <p>Powered by <a target="_blank" href="https://github.com/qqj1228/DDmanage">{{ config['APP_NAME'] }}</a>. Copyright &copy; 2017.</p>
            <p><a target="_blank" href="http://www.cashqian.net/" target="_blank">www.cashqian.net</a>. All rights reserved.</p>
        </div>
    </div>
    <!-- end footer -->

    <!-- 显示flash通知消息 -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <script type="text/javascript">
                UIkit.notify("<i class='uk-icon-info-circle'></i> {{ message }}");
            </script>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>
