{% extends 'base.html' %}
{% block title %} 图纸管理 {% endblock %}
{% block script %}
<script>
    function bat_checkbox(dir, url_ajax, url_ret, personal){
        // 因表头的checkbox无next元素，故返回的元素没有包含表头
        var filelinks = $('input[name="subcheck"]:checked').parent().next().find('a');
        var filelist = [];
        for (var i=0; i<filelinks.length; i++){
            filelist.push($(filelinks[i]).text());
        }
        if(filelist.length > 0){
            postJSON(url_ajax, {
                dir: dir,
                filename: filelist,
                personal: personal
                }, function(err, r){
                if (err) {
                    if(err.code == "403"){
                        err.message = "您没有权限访问该页面/资源!"
                    }
                    error(err);
                    return;
                }
                if(url_ret === ''){
                    location.assign(r.url);
                }else{
                    location.assign(url_ret);
                }
            });
        }
    }

    $(function(){
        // 全选checkbox响应
        $('#check_all').click(function(e){
            $('input[name="subcheck"]').prop('checked', this.checked);
        });
        // 单个checkbox响应
        var $subcheck = $('input[name="subcheck"]');
        $subcheck.click(function(e){
            $('#check_all').prop('checked', $subcheck.length == $('input[name="subcheck"]:checked').length);
        });
        // 批量下载按钮响应
        $('#down_bat').click(function(e){
            bat_checkbox("{{ args.dir_cu }}", "{{ url_for('api_download') }}", '', false);
        });
        // 批量删除按钮响应
        $('#del_bat').click(function(e){
            UIkit.modal.confirm("确定要删除选中的文件吗?删除后不可恢复!", function(){
                bat_checkbox("{{ args.dir_cu }}", "{{ url_for('api_delete') }}", location.pathname, false);
            });
        });
        // 单个下载按钮响应
        $('a[name="subdown"]').click(function(){
            var filename = $(this).parent().parent().prev().prev().find('a').text();
            postJSON("{{ url_for('api_download') }}", {
                dir: "{{ args.dir_cu }}",
                filename: [filename],
                personal: false
                }, function(err, r){
                if (err) {
                    if(err.code == "403"){
                        err.message = "您没有权限访问该页面/资源!"
                    }
                    error(err);
                    return;
                }
                location.assign(r.url);
            });
        });
        // 单个删除按钮响应
        $('a[name="subdel"]').click(function(){
            var filename = $(this).parent().parent().prev().prev().find('a').text();
            UIkit.modal.confirm("确定要删除文件: " + filename + " 吗?删除后不可恢复!", function(){
                postJSON("{{ url_for('api_delete') }}", {
                    dir: "{{ args.dir_cu }}",
                    filename: [filename],
                    personal: false
                    }, function(err, r){
                    if (err) {
                        if(err.code == "403"){
                            err.message = "您没有权限访问该页面/资源!"
                        }
                        error(err);
                        return;
                    }
                    location.assign(location.pathname);
                });
            });
        });
    });
</script>
{% endblock %}
{% block content %}
    <!-- sidebar -->
    <div class="uk-width-medium-1-5">
        {% include 'sidebar.html' %}
        <div class="uk-panel uk-panel-box">
            <h3 class="uk-panel-title"><i class="uk-icon-folder-open"></i> 图纸目录</h3>
            <ul class="uk-list uk-list-line">
                {% for dir in args.dirlist %}
                    <li><a href="{{ url_for('index', dir_cu=dir, page_cu=1) }}">
                    {% if dir == args.dir_cu %}
                        <i class="uk-icon-folder-open"></i> {{ dir }}
                    {% else %}
                        <i class="uk-icon-folder"></i> {{ dir }}
                    {% endif %}
                    </a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- end sidebar -->

    <div class="uk-width-medium-4-5 uk-row-first">
        <div id="error" class="uk-width-1-1"></div>
        <div class="uk-panel uk-panel-box uk-panel-box-primary uk-panel-header">
            <h3 class="uk-panel-title">
            {% if args.dir_cu == '' %}
                <i class="uk-icon-file"></i> 当前打开的目录【 图纸根目录 】下的文件:
            {% else %}
                <i class="uk-icon-file"></i> 当前打开的目录【 {{ args.dir_cu }} 】下的文件:
            {% endif %}
            </h3>
            <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
                <thead>
                    <tr>
                        <th class="uk-width-1-10 uk-text-center"><label><input id="check_all" type="checkbox">全选</label></th>
                        <th class="uk-width-4-10 uk-text-center">文件名</th>
                        <th class="uk-width-3-10 uk-text-center">路径</th>
                        <th class="uk-width-2-10 uk-text-center">批量
                            <div class="uk-button-group">
                                <a id="down_bat" class="uk-button uk-button-mini uk-button-primary" title="选中文件下载"><i class="uk-icon-download"></i></a>
                                <a id="del_bat" class="uk-button uk-button-mini uk-button-danger" title="选中文件删除"><i class="uk-icon-trash-o"></i></a>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in args.filelist[args.page.page_start:args.page.page_start+args.page.range] %}
                    <tr class="uk-text-center">
                        <td><input name="subcheck" type="checkbox"></td>
                        <td>
                            <a target="_aboutblank" href="{{ url_for('show', dir=args.dir_cu, filename=file) }}" title="点击后打开预览窗口">{{ file }}</a>
                        </td>
                        <td>{{ args.dir_cu }}</td>
                        <td>
                            <div class="uk-button-group">
                                <a name="subdown" class="uk-button uk-button-mini uk-button-primary" title="下载"><i class="uk-icon-download"></i></a>
                                <a name="subdel" class="uk-button uk-button-mini uk-button-danger" title="删除"><i class="uk-icon-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <ul class="uk-pagination" data-uk-margin>
        {% for i in range(1, args.page.page_all+1) %}
            {% if args.page_cu == i %}
                <li class="uk-active"><span>{{ i }}</span></li>
            {% else %}
                <li><a href="{{ url_for('index', dir_cu=args.dir_cu, page_cu=i) }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
{% endblock %}
