{% extends 'base.html' %}
{% block title %} 文件管理 {% endblock %}
{% block script %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/webuploader.css') }}">
<script src="//cdn.staticfile.org/webuploader/0.1.5/webuploader.min.js"></script>
<script src="{{ url_for('static', filename='js/upload.js') }}"></script>
<link rel="stylesheet" href="//cdn.bootcss.com/uikit/2.25.0/css/components/progress.gradient.min.css">
<script src="{{ url_for('static', filename='js/table.js') }}"></script>
<script>
    $(function(){
        // 全选checkbox响应
        $('#check_all').click(function(e){
            $('input[name="subcheck"]').prop('checked', this.checked);
        });
        // 单个checkbox响应
        var $subcheck = $('input[name="subcheck"]');
        $subcheck.click(function(e){
            $('#check_all').prop('checked', $subcheck.length == $('input[name="subcheck"]:checked').length);
        });
        // 批量下载按钮响应
        $('#down_bat').click(function(e){
            bat_checkbox("{{ url_for('api_download') }}", '', true);
        });
        // 批量删除按钮响应
        $('#del_bat').click(function(e){
            UIkit.modal.confirm("确定要删除选中的文件吗?删除后不可恢复!", function(){
                bat_checkbox("{{ url_for('api_delete') }}", location.pathname, true);
            });
        });
        // 单个下载按钮响应
        $('a[name="subdown"]').click(function(){
            button(this, "{{ url_for('api_download') }}", '', true)
        });
        // 单个删除按钮响应
        $('a[name="subdel"]').click(function(){
            var self = this;
            var filename = $(this).parent().parent().prev().prev().text();
            UIkit.modal.confirm("确定要删除文件: " + filename + " 吗?删除后不可恢复!", function(){
                button(self, "{{ url_for('api_delete') }}", location.pathname, true)
            });
        });
    });
</script>
{% endblock %}
{% block content %}
    <!-- sidebar -->
    <div class="uk-width-medium-1-5">
        {% include 'sidebar.html' %}
    </div>
    <!-- end sidebar -->

    <div class="uk-width-medium-4-5 uk-row-first">
        <div id="uploader" class="uk-panel uk-panel-box uk-panel-box-primary uk-panel-header">
            <h3 class="uk-panel-title"><i class="uk-icon-upload"></i> 文件上传</h3>
            <!--用来存放文件信息-->
            <div id="thelist" class=""></div>
            <div class="btns">
                <!--<div id="picker" class="uk-display-inline-block">选择文件</div>-->
                <a id="picker" class="uk-button uk-button-primary">选择文件</a>
                <button id="ctlBtn" class="uk-button uk-button-success">开始上传</button>
                {% if current_user.can(Permission.DWG_UPDOWN) %}
                <button id="archive" class="uk-button uk-button-danger">图纸入库</button>
                {% endif %}
            </div>
        </div>
        <div id="uploader" class="uk-panel uk-panel-box uk-panel-box-primary uk-panel-header">
            <h3 class="uk-panel-title"><i class="uk-icon-user"></i> 个人文件</h3>
            <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
                <thead>
                    <tr>
                        <th class="uk-width-1-10 uk-text-center"><label><input id="check_all" type="checkbox">全选</label></th>
                        <th class="uk-width-4-10 uk-text-center">文件名</th>
                        <th class="uk-width-3-10 uk-text-center">个人目录名</th>
                        <th class="uk-width-2-10 uk-text-center">批量
                            <div class="uk-button-group">
                                <a id="down_bat" class="uk-button uk-button-mini uk-button-primary" title="选中文件下载"><i class="uk-icon-download"></i></a>
                                <a id="del_bat" class="uk-button uk-button-mini uk-button-danger" title="选中文件删除"><i class="uk-icon-trash-o"></i></a>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in args.filelist[args.page.page_start:args.page.page_start+args.page.range] %}
                    <tr class="uk-text-center">
                        <td><input name="subcheck" type="checkbox"></td>
                        <td>
                            <a target="_aboutblank" href="{{ url_for('show', dir=args.dir, filename=file, personal='personal') }}" title="点击后打开预览窗口">{{ file }}</a>
                        </td>
                        <td>{{ args.dir }}</td>
                        <td>
                            <div class="uk-button-group">
                                <a name="subdown" class="uk-button uk-button-mini uk-button-primary" title="下载"><i class="uk-icon-download"></i></a>
                                <a name="subdel" class="uk-button uk-button-mini uk-button-danger" title="删除"><i class="uk-icon-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <ul class="uk-pagination" data-uk-margin>
        {% for i in range(1, args.page.page_all+1) %}
            {% if args.page_cu == i %}
                <li class="uk-active"><span>{{ i }}</span></li>
            {% else %}
                <li><a href="{{ url_for('manage', page_cu=i) }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
{% endblock %}
