.goto-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
    display: none;
}

/* UIkit component modifiers
 ========================================================================== */

/*
 * Navbar
 */

.tm-navbar {
    padding: 15px 0;
    border: none;
    background: #000;
}

.tm-navbar .uk-navbar-content,
.tm-navbar .uk-navbar-brand,
.tm-navbar .uk-navbar-toggle {
    height: 40px;
    margin-top: 0;
    text-shadow: none;
    color: #999;
}

.tm-navbar .uk-navbar-nav > li > a {
    height: 40px;
    margin: 0;
    border: none;
    border-radius: 3px !important;
    color: #999;
    text-shadow: none;
    font-size: 15px;
}

.tm-navbar .uk-navbar-nav > li { margin-left: 20px; }

/* Hover */
.tm-navbar .uk-navbar-nav > li:hover > a,
.tm-navbar .uk-navbar-nav > li > a:focus,
.tm-navbar .uk-navbar-nav > li.uk-open > a {
    background-color: transparent;
    border: none;
    color: #FFF;
}

/* Active */
.tm-navbar .uk-navbar-nav > li.uk-active > a {
    background-color: #2BA3D4;
    color: #FFF;
}

/* OnClick */
.tm-navbar .uk-navbar-nav > li > a:active { background-color: transparent; }

body { background: #F0F0F0; }
.tm-manage .uk-navbar-nav > li.uk-active > a { font-weight: bold; }